.invalidInput {
    background-color: #faecee;
}
.myDashletbody{
	height: 390px;
	padding-left:1em;
	padding-right:1em;
}
.myGContainer{
	border:1px solid #c2c2c2!important;
	height:60px;
	padding:4px 10px 5px 10px!important;
	 margin-top: 1em!important;
	 margin-bottom: 1em!important;
}
.myInputLabel{
	padding-bottom: 0.5em;
	display: block;
	color: #515D6B;
	font-style: normal;
	font-family: arial, helvetica, clean, sans-serif;
}
.absoluteOver{
position:absolute;
}
.relativeOver{
position:relative;
}
.hrDivider{
margin-top: 33px!important;
border-top:1px solid #eeeeee!important;
background-color: transparent!important;
}
.exportButton{
margin: 0px; 
padding: 2px 4px 3px; 
top: 2px; right: 4px; 
float: right; 
display: inline; 
position: relative;
}
.tabsClass{
	position: relative;
	padding: 0px 25px 15px 15px!important;
	max-width: 1000px;
	margin: 0 auto;
}
.popupTitle{
	padding:15px 8px 4px 7px!important; 
	text-align:center!important;
}
.popupPaginator{
	padding-left:7px!important; 
	padding-bottom:14px!important; 
	text-align:center!important;
}
.leftPicker, .rightPicker {
float: none!important;
width: 100%!important;
margin-left: 0px!important;
}
@media screen and (max-width: 1300px) {
    .leftPicker {
        float: left!important;
        width: 50%!important;
        margin-left: 0px!important;
    }
    .rightPicker {
        float: right!important;
        width: 50%!important;
        margin-left: 0px!important;
    }
}